@font-face {
	font-family: "andaleMono";
	src: url("/fonts/AndaleMono.ttf");
}

h1, h2, p, li, a {
	font-family: "andaleMono";
}

h1, h2 {
	color: $maroon;
}

.drop-shadow {
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}

.transition {
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn {
	@extend .transition;
	color: #000;
	border: 1px solid #000;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:hover {
		background-color: #000;
		color: #fff;
	}
}

.three-colored-line {
	span {
		width: 33.33%;
		height: 8px;
		display: inline-block;
		&:first-of-type {
			background: $maroon;
		}
		&:nth-of-type(2) {
			background: $gray;
		}
		&:nth-of-type(3) {
			background: $pink;
		}
	}
}