img {
  width: 100px; }

.slider {
  background: #8e8fbb; }
  .slider h1, .slider .tagline {
    text-align: center;
    color: #fff; }

header .nav {
  text-align: center; }
  header .nav li {
    display: inline-block; }

footer {
  text-align: center; }
